<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<title>Page Title</title>
</head>
<body>
<h1>INSERT TITLE HERE</h1>
<p>PARAGRAPH IF NEEDED</p>

<form method="POST">
    <!-- codice programma -->
    Input Code<br>
    <textarea rows="10" cols="60" name="inputPr" placeholder="insert code here" required>{{ request.form['inputPr'] }}</textarea><br><br>

    <!-- query -->
    <label for="inputQ"> Query (string) </label><br>
    <input type="text" id="inputQ" name="inputQ" placeholder="string" value={{ request.form['inputQ'] }}><br>
    Must fill (optional for -Parameter Learning-)
    <br><br>
    <!-- evidenza -->
    <label for="inputEv"> Evidence (string) </label><br>
    <input type="text" id="inputEv" name="inputEv" placeholder="string" onchange="ToggleLevel_1()" value={{ request.form['inputEv'] }}><br>
    optional for -Exact Inference- and -Approximate Inference-
    <br><br>

    <!-- checkbox -->
    <input type="radio" id="ExInf" name="options" value="Exact Inference" checked onclick="ToggleLevel_1();ToggleLevel_3();">
    <label for="ExInf"> Exact Inference </label><br><br>

    <input type="radio" id="AppInf" name="options" value="Approximate Inference" onclick="ToggleLevel_1();ToggleLevel_3();">
    <label for="AppInf"> Approximate Inference </label><br>
        <!-- checkboxes for Approximate Inference -->
        &emsp;&emsp;&emsp;
        <label for="nSamples"> n Samples (int) </label>&emsp;   
        <input type="text" id="nSamples" name="nSamples" value="1000" disabled="true"><br>
        &emsp;&emsp;&emsp;
        <input type="radio" id="RjS" name="AI_options" value="rejection" disabled="true" onclick="ToggleLevel_2()">
        <label for="RjS"> Rejection Sampling </label><br>
        &emsp;&emsp;&emsp;
        <input type="radio" id="MHS" name="AI_options" value="mh" disabled="true" onclick="ToggleLevel_2()">
        <label for="MHS"> Metropolis Hastings Sampling </label><br>
        &emsp;&emsp;&emsp;
        <input type="radio" id="GS" name="AI_options" value="gibbs" disabled="true" onclick="ToggleLevel_2()">
        <label for="GS"> Gibbs Sampling </label><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <label for="Blocks"> blocks (int) </label>&emsp;
        <input type="text" id="Blocks" name="Blocks" placeholder="int" disabled="true" value={{ request.form['Blocks'] }}>

        <br><br>
        <!-- END checkboxes for Approximate Inference -->
    
    <input type="radio" id="MapInf" name="options" value="Map Inference" onclick="ToggleLevel_1();ToggleLevel_3();">
    <label for="MapInf"> Map Inference </label> &emsp;&emsp;&emsp;&emsp;
    <input type="checkbox" id="Brave" name="Brave" value="True">
    <label for="Brave"> brave (false default) </label>
    <br><br>

    <input type="radio" id="Abd" name="options" value="Abduction" onclick="ToggleLevel_1();ToggleLevel_3();">
    <label for="Abd"> Abduction </label><br><br>
    
    <input type="radio" id="PL" name="options" value="Parameter Learning" onclick="ToggleLevel_1();ToggleLevel_3();">
    <label for="PL"> Parameter Learning </label><br><br>
    <!-- END checkbox -->

    <input type="submit" value="Submit">
    <input type="reset"> 
    <br><br>
    <!-- OUTPUT programma -->
    Show Results:<br>
    <textarea rows="10" cols="60" name="outputPr" placeholder="output shown here">{{CodeOut}}</textarea><br><br>
    
</form>
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}

<script>
    var ApproximateInference = document.getElementById("AppInf");
    var Evidenza = document.getElementById("inputEv");
    var RejectionSampling = document.getElementById("RjS");
    var nSamples = document.getElementById("nSamples");
    var MetropolisHS = document.getElementById("MHS");
    var GibbsSampling = document.getElementById("GS");
    var Blocks = document.getElementById("Blocks");
    var MapInference = document.getElementById("MapInf");
    var Abduction = document.getElementById("Abd");
    var ParameterLearning = document.getElementById("PL");
    var Brave = document.getElementById("Brave");

    function ToggleLevel_1 () {        
        if (ApproximateInference.checked) {
            nSamples.disabled=false
            if (Evidenza.value!="") {
                RejectionSampling.disabled=false
                MetropolisHS.disabled=false
                GibbsSampling.disabled=false
            } else {
                RejectionSampling.disabled=true
                MetropolisHS.disabled=true
                GibbsSampling.disabled=true
                Blocks.disabled=true
            }
        } else {
            nSamples.disabled=true
            RejectionSampling.disabled=true
            MetropolisHS.disabled=true
            GibbsSampling.disabled=true
            Blocks.disabled=true
        }
    }

    function ToggleLevel_2 () {
        if (GibbsSampling.checked) {
            Blocks.disabled=false
        } else{
            Blocks.disabled=true
        }
    }
</script>

</body>
</html> 