
<!DOCTYPE html>
<html>
<head>
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<!-- Milligram CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<title>PASTA WEBSITE</title>
</head>

<body>
    <main class="wrapper">
        <header style="text-align:center;" class="header" id="home">
            <nav style="background-color:rgba(171, 150, 255, 0.249);" class="navigation">            
                <h3>
                    ⌂HOME
                    ◄►
                    <a style="color:rgb(192, 105, 255);" href="static/documentation.html">Documentation</a> --
                    <a style="color:rgb(192, 105, 255);" href="static/about.html">About</a> --
                    <a style="color:rgb(192, 105, 255);" href="static/examples.html">Examples</a>
                    ◄►
                </h3>
            </nav>
            <section class="container">
                <h1 style="height: 30px; color:rgb(162, 31, 255); font-weight: bold;" class="title">PASTA WEBSITE</h1>
                <h4>HOME</h4>
            </section>
        </header>
    
        <section style="background-color:rgba(239, 150, 255, 0.2);" class="container">
            <form method="POST">
                <fieldset>
                    <!-- codice programma -->
                    <label style="font-weight: bold;" for="inputPr"> Input Code </label>
                    <textarea style="height: 300px;" rows="10" cols="60" name="inputPr" id="inputPr" placeholder="insert code here" required>{{ request.form['inputPr'] }}</textarea><br>

                    <!-- query -->
                    <label for="inputQ"> Query </label>
                    <input style="width: 250px;" type="text" id="inputQ" name="inputQ" placeholder="string" onchange="FillTheQuery()" required value={{ request.form['inputQ'] }}>
                    &emsp;  Must fill
                    <br>&emsp;&emsp;
                    <input type="checkbox" id="inconsistent" name="inconsistent" value="True" checked onclick="inconsistent_click()">
                    <label class="label-inline" for="inconsistent" id="inc_label"> stop if inconsistent [True]</label>
                    <br>&emsp;&emsp;
                    <input type="checkbox" id="normalize" name="normalize" value="False" onclick="normalize_click()">
                    <label class="label-inline" for="normalize" id="norm_label"> normalize [False]</label>
                    <br>
                    <!-- evidenza -->
                    <label for="inputEv"> Evidence </label>
                    <input style="width: 250px;" type="text" id="inputEv" name="inputEv" placeholder="string" onchange="ToggleLevel_1()" value={{ request.form['inputEv'] }}>
                    &emsp;  Optional for -Exact Inference- and -Approximate Inference-
                    <br><br>

                    <!-- checkbox -->
                    <input type="radio" id="ExInf" name="options" value="Exact Inference" checked onclick="ToggleLevel_1()">
                    <label style="font-weight: bold;" class="label-inline" for="ExInf"> Exact Inference </label><br>

                    <input type="radio" id="AppInf" name="options" value="Approximate Inference" onclick="ToggleLevel_1()">
                    <label style="font-weight: bold;" class="label-inline" for="AppInf"> Approximate Inference </label><br>
                        <!-- checkboxes for Approximate Inference -->
                        &emsp;&emsp;&emsp;
                        <label class="label-inline" for="nSamples"> n Samples (int) </label>&emsp;   
                        <input style="width: 150px;" type="text" id="nSamples" name="nSamples" value="1000" disabled="true"><br>
                        &emsp;&emsp;&emsp;
                        <input type="radio" id="RjS" name="AI_options" value="rejection" disabled="true" onclick="ToggleLevel_2()">
                        <label class="label-inline" for="RjS"> Rejection Sampling </label><br>
                        &emsp;&emsp;&emsp;
                        <input type="radio" id="MHS" name="AI_options" value="mh" disabled="true" onclick="ToggleLevel_2()">
                        <label class="label-inline" for="MHS"> Metropolis Hastings Sampling </label><br>
                        &emsp;&emsp;&emsp;
                        <input type="radio" id="GS" name="AI_options" value="gibbs" disabled="true" onclick="ToggleLevel_2()">
                        <label class="label-inline" for="GS"> Gibbs Sampling </label><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        <label class="label-inline" for="Blocks"> blocks (int) </label>&emsp;
                        <input style="width: 150px;" type="text" id="Blocks" name="Blocks" placeholder="int" disabled="true" value="{{ request.form['Blocks'] }}">

                        <br>
                        <!-- END checkboxes for Approximate Inference -->
                    
                    <input type="radio" id="MapInf" name="options" value="Map Inference" onclick="ToggleLevel_1()">
                    <label style="font-weight: bold;" class="label-inline" for="MapInf"> Map Inference </label> &emsp;&emsp;&emsp;&emsp;
                    <input type="checkbox" id="Upper" name="Upper" value="False" onclick="upper_click()">
                    <label class="label-inline" for="Upper" id="up_label"> upper [False] </label>
                    <br>

                    <input type="radio" id="Abd" name="options" value="Abduction" onclick="ToggleLevel_1()">
                    <label style="font-weight: bold;" class="label-inline" for="Abd"> Abduction </label><br>
                    
                    <input type="radio" id="PL" name="options" value="Parameter Learning" onclick="ToggleLevel_1()">
                    <label style="font-weight: bold;" class="label-inline" for="PL"> Parameter Learning </label> 
                    - (if no query needed) ==>
                    <input type="checkbox" id="fillQuery" name="fillQuery" onchange="FillTheQuery()">
                    <label class="label-inline" for="fillQuery"> fill query with "none" </label>
                    <br>
                    <!-- END checkbox -->

                    <input class="button" type="submit" value="Submit">
                    <input type="reset" value="Reset" onclick="ResetAll()"> 
                    <br>
                    <!-- OUTPUT programma -->
                </fieldset>
            </form>
            <label style="font-weight: bold;" for="outputPr"> Show Results: </label>
            {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
            {% endfor %}
            <textarea style="height: 300px;" rows="10" cols="60" name="outputPr" placeholder="output shown here">{{CodeOut}}</textarea><br>
        </section>
        <br><br><br><br><br><br><br>
    </main>


<script>
    var ProgramText = document.getElementById("inputPr");
    var Query = document.getElementById("inputQ");
    var ApproximateInference = document.getElementById("AppInf");
    var Evidenza = document.getElementById("inputEv");
    var RejectionSampling = document.getElementById("RjS");
    var nSamples = document.getElementById("nSamples");
    var MetropolisHS = document.getElementById("MHS");
    var GibbsSampling = document.getElementById("GS");
    var Blocks = document.getElementById("Blocks");
    //var MapInference = document.getElementById("MapInf");
    //var Abduction = document.getElementById("Abd");
    //var ParameterLearning = document.getElementById("PL");
    var Upper = document.getElementById("Upper");
    var norm_label = document.getElementById("norm_label");
    var fillQuery = document.getElementById("fillQuery");
    var Inconsistent = document.getElementById("inconsistent");
    var inc_label = document.getElementById("inc_label");
    var Normalize = document.getElementById("normalize");

    const tx = document.getElementsByTagName("textarea");
    for (let i = 0; i < tx.length; i++) {
        tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
        tx[i].addEventListener("input", OnInput, false);
    }
    function OnInput() {
        this.style.height = 0;
        this.style.height = (this.scrollHeight) + "px";
    }


    function inconsistent_click(){
        if (Inconsistent.checked){
            inc_label.innerHTML = "stop if inconsistent [True]";
            Inconsistent.value = "True";
        }else{
            inc_label.innerHTML = "stop if inconsistent [False]";
            Inconsistent.value = "False";
        }
    }

    function normalize_click(){
        if (Normalize.checked){
            norm_label.innerHTML = "normalize [True]";
            Normalize.value = "True";
        }else{
            norm_label.innerHTML = "normalize [False]";
            Normalize.value = "False";
        }
    }

    function upper_click(){
        if (Upper.checked){
            up_label.innerHTML = "upper [True]";
            Upper.value = "True";
        }else{
            up_label.innerHTML = "upper [False]";
            Upper.value = "False";
        }
    }

    if(typeof(Storage)!=="undefined" && localStorage.textToHome){
        ProgramText.innerHTML=localStorage.textToHome; 
    }
    //else{
    //    ProgramText.innerHTML="Sorry, your browser does not support web storage...";
    //}
    localStorage.clear();
    

    function ToggleLevel_1 () {        
        if (ApproximateInference.checked) {
            nSamples.disabled=false
            if (Evidenza.value!="") {
                RejectionSampling.disabled=false
                MetropolisHS.disabled=false
                GibbsSampling.disabled=false
            } else {
                RejectionSampling.disabled=true
                MetropolisHS.disabled=true
                GibbsSampling.disabled=true
                Blocks.disabled=true
            }
        } else {
            nSamples.disabled=true
            RejectionSampling.disabled=true
            MetropolisHS.disabled=true
            GibbsSampling.disabled=true
            Blocks.disabled=true
        }
    }

    function ToggleLevel_2 () {
        if (GibbsSampling.checked) {
            Blocks.disabled=false
        } else{
            Blocks.disabled=true
        }
    }

    function ResetAll () {
        Query.value = ""
        Evidenza.value = ""
        ProgramText.innerHTML = ""
        ToggleLevel_1();
        ToggleLevel_2();
        nSamples.disabled = "true"
        localStorage.clear();
    }

    function FillTheQuery () {
        if (fillQuery.checked == true){
            Query.value = "none"
        }
    }

</script>

</body>
</html> 