<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<title>PASTA WEBSITE</title>
</head>
<body>
<h1>HOME - PASTA WEBSITE</h1>

<h3>
    HOME
    |_/\_|
    <a href="static/documentation.html">Documentation</a> --
    <a href="static/about.html">About</a> --
    <a href="static/examples.html">Examples</a>
    |_/\_|
</h3>

<form method="POST">
    <!-- codice programma -->
    Input Code<br>
    <textarea rows="10" cols="60" name="inputPr" id="inputPr" placeholder="insert code here" required>{{ request.form['inputPr'] }}</textarea><br><br>

    <!-- query -->
    <label for="inputQ"> Query (string) </label><br>
    <input type="text" id="inputQ" name="inputQ" placeholder="string" onchange="FillTheQuery();" required value={{ request.form['inputQ'] }}><br>
    Must fill (optional for -Parameter Learning-)
    <br><br>
    <!-- evidenza -->
    <label for="inputEv"> Evidence (string) </label><br>
    <input type="text" id="inputEv" name="inputEv" placeholder="string" onchange="ToggleLevel_1()" value={{ request.form['inputEv'] }}><br>
    optional for -Exact Inference- and -Approximate Inference-
    <br><br>

    <!-- checkbox -->
    <input type="radio" id="ExInf" name="options" value="Exact Inference" checked onclick="ToggleLevel_1();">
    <label for="ExInf"> Exact Inference </label><br><br>

    <input type="radio" id="AppInf" name="options" value="Approximate Inference" onclick="ToggleLevel_1();">
    <label for="AppInf"> Approximate Inference </label><br>
        <!-- checkboxes for Approximate Inference -->
        &emsp;&emsp;&emsp;
        <label for="nSamples"> n Samples (int) </label>&emsp;   
        <input type="text" id="nSamples" name="nSamples" value="1000" disabled="true"><br>
        &emsp;&emsp;&emsp;
        <input type="radio" id="RjS" name="AI_options" value="rejection" disabled="true" onclick="ToggleLevel_2()">
        <label for="RjS"> Rejection Sampling </label><br>
        &emsp;&emsp;&emsp;
        <input type="radio" id="MHS" name="AI_options" value="mh" disabled="true" onclick="ToggleLevel_2()">
        <label for="MHS"> Metropolis Hastings Sampling </label><br>
        &emsp;&emsp;&emsp;
        <input type="radio" id="GS" name="AI_options" value="gibbs" disabled="true" onclick="ToggleLevel_2()">
        <label for="GS"> Gibbs Sampling </label><br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <label for="Blocks"> blocks (int) </label>&emsp;
        <input type="text" id="Blocks" name="Blocks" placeholder="int" disabled="true" value="{{ request.form['Blocks'] }}">

        <br><br>
        <!-- END checkboxes for Approximate Inference -->
    
    <input type="radio" id="MapInf" name="options" value="Map Inference" onclick="ToggleLevel_1();">
    <label for="MapInf"> Map Inference </label> &emsp;&emsp;&emsp;&emsp;
    <input type="checkbox" id="Upper" name="Upper" value="True">
    <label for="Upper"> upper (false default) </label>
    <br><br>

    <input type="radio" id="Abd" name="options" value="Abduction" onclick="ToggleLevel_1();">
    <label for="Abd"> Abduction </label><br><br>
    
    <input type="radio" id="PL" name="options" value="Parameter Learning" onclick="ToggleLevel_1();">
    <label for="PL"> Parameter Learning </label> 
    - (if no query needed) ==>
    <input type="checkbox" id="fillQuery" name="fillQuery" value="True" onchange="FillTheQuery()">
    <label for="fillQuery"> fill query with "none" </label>
    <br><br> 
    <!-- END checkbox -->

    <input type="submit" value="Submit">
    <input type="reset" value="Reset" onclick="ResetAll();"> 
    <br><br>
    <!-- OUTPUT programma -->
    
</form>
Show Results: 
{% for message in get_flashed_messages() %}
<div class="alert">{{ message }}</div>
{% endfor %}
<br>
<textarea rows="10" cols="60" name="outputPr" placeholder="output shown here">{{CodeOut}}</textarea><br><br>

<script>
    var ProgramText = document.getElementById("inputPr");
    var Query = document.getElementById("inputQ");
    var ApproximateInference = document.getElementById("AppInf");
    var Evidenza = document.getElementById("inputEv");
    var RejectionSampling = document.getElementById("RjS");
    var nSamples = document.getElementById("nSamples");
    var MetropolisHS = document.getElementById("MHS");
    var GibbsSampling = document.getElementById("GS");
    var Blocks = document.getElementById("Blocks");
    var MapInference = document.getElementById("MapInf");
    var Abduction = document.getElementById("Abd");
    var ParameterLearning = document.getElementById("PL");
    var Upper = document.getElementById("Upper");
    var fillQuery = document.getElementById("fillQuery");

    if(typeof(Storage)!=="undefined" && localStorage.textToHome){
        ProgramText.innerHTML=localStorage.textToHome; 
    }
    //else{
    //    ProgramText.innerHTML="Sorry, your browser does not support web storage...";
    //}
    localStorage.clear();
    

    function ToggleLevel_1 () {        
        if (ApproximateInference.checked) {
            nSamples.disabled=false
            if (Evidenza.value!="") {
                RejectionSampling.disabled=false
                MetropolisHS.disabled=false
                GibbsSampling.disabled=false
            } else {
                RejectionSampling.disabled=true
                MetropolisHS.disabled=true
                GibbsSampling.disabled=true
                Blocks.disabled=true
            }
        } else {
            nSamples.disabled=true
            RejectionSampling.disabled=true
            MetropolisHS.disabled=true
            GibbsSampling.disabled=true
            Blocks.disabled=true
        }
    }

    function ToggleLevel_2 () {
        if (GibbsSampling.checked) {
            Blocks.disabled=false
        } else{
            Blocks.disabled=true
        }
    }

    function ResetAll () {
        Query.value = ""
        Evidenza.value = ""
        ProgramText.innerHTML = ""
        ToggleLevel_1();
        ToggleLevel_2();
        nSamples.disabled = "true"
        localStorage.clear();
    }

    function FillTheQuery () {
        if (fillQuery.checked == true){
            Query.value = "none"
        }
    }

</script>

</body>
</html> 